bson
ccxt
certifi
dnspython
google-auth
ta
ntplib
numpy
schedule
psutil
pandas
pymongo[srv]
profilehooks
websocket-client
websocket-server
websockets
tqdm
optuna
fastapi
redis
hiredis
celery
motor
uvicorn
aioconsole
aio_pika